<h1>Welcome to my first angular app!!!</h1>
<a routerLink="/Hello" target="blank" *ngIf="a">Hello</a>
<router-outlet></router-outlet>
<br><br>
<button (click)="getData(myname)">get Name</button>
<br><br>
<input type="text" (keyup)="getVal($event.target.value)" />
<input type="text" #box/>
<br><br>
<input type="text" [disabled]="disableBox" [value]="name"/>
<br><br>
<input type="text" [disabled]="disableBox" value={{name}} />
<br><br>
<button (click)="enablebox()">Enable textbox</button>
<h2>{{currentval}}</h2>
<button (click)="getVal(box.value)">getValue</button>
<app-login></app-login>